/* div {
    margin: 200px;
    padding: 10%;
} */


/* * {
    background-color: rgb(117, 60, 139); 
}*/

body {
    background: black;
}

#ClockDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fe17d8;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

hr {
    margin-left: 25%;
    position: fixed;
    bottom: 1%;
    cursor: pointer;
    height: 5px;
    width: 50%;
    border: solid rgb(153, 150, 150) 3px;
    background-color: rgb(199, 191, 191);
    border-radius: 51%;
}