.homeButton{
  
    z-index: 1000;
    margin-top: 41%;
    width: 90px;
    position: fixed;
    right: 19px;
    bottom: 17px;
  }

  body{

    overflow: hidden;
    background-color: #DDA0DD

  }

  iframe{

    border-radius: 30px;
    border: 7px double black;
  
  }


  .dmotionANM{


    animation: dmotion 1s ;

  }
  @keyframes dmotion {
  
    from {
  
      opacity: 0;
      transform: skewX(250deg);
      
  }
  
  
  
  to {
  
      opacity: 5;
      transform: rotateX(0);
  
  }












  }